:root {
    --mc : #cd056d;
    --fc : #514D4D;
    --lc : #ffffff;
}

*::selection {background:var(--mc);color:var(--lc);}
.button {display:block;border-radius:3px;width:180px;line-height:50px;font-size:14px;font-weight:500;transition:0.4s;}


html::-webkit-scrollbar {width:7px;}
html::-webkit-scrollbar-thumb {background:#dcd3c9;border-radius:3rem;}
html::-webkit-scrollbar-track {background:var(--lc);}
body {color:var(--fc);}


#header {position:fixed;top:0;left:0;width:100%;transition:0.4s;z-index:999;}
#header.on {background:var(--lc);}

#header .container {position:relative;display:flex;justify-content:space-between;width:1600px;margin:0 auto;padding:20px 0;}

#header .top_line {position:absolute;top:0;left:0;display:flex;width:100%;}
#header .top_line>div {flex:1;height:5px;}
#header .top_line>div:nth-child(1) {background:#E97B0C;}
#header .top_line>div:nth-child(2) {background:#E6CB62;}
#header .top_line>div:nth-child(3) {background:#5E4F45;}
#header .top_line>div:nth-child(4) {background:#80C7E1;}

#header h1 {transform:translateY(-5px);}
#header h1 a {display:block;}
#header h1 a img {height:55px;}

/* #header nav ul {display:flex;}
#header nav ul li a {display:block;padding:0 30px;}
#header nav ul li:last-child a {padding-right:0;} */

/* 메뉴 여는 버튼 */
#header .menu_open_btn {position:absolute;top:50%;right:0;transform:translateY(-50%);width:30px;height:24px;cursor:pointer;z-index:99;}
#header .menu_open_btn span {position:absolute;width:100%;height:2px;background:#555;border-radius:50px;transition:0.4s;}
#header .menu_open_btn span:nth-child(1) {top:0;}
#header .menu_open_btn span:nth-child(2) {top:50%;}
#header .menu_open_btn span:nth-child(3) {top:50%;}
#header .menu_open_btn span:nth-child(4) {top:100%;}

/* 메뉴 여는 버튼 눌렀을 때 */
#header .menu_open_btn.on span:nth-child(1) {opacity:0;}
#header .menu_open_btn.on span:nth-child(2) {transform:rotate(-45deg);}
#header .menu_open_btn.on span:nth-child(3) {transform:rotate(45deg);}
#header .menu_open_btn.on span:nth-child(4) {opacity:0;}


#header .gnb_wrap {position:fixed;top:0;left:0;display:flex;width:100%;height:100vh;background:#FCF7EF;opacity:0;visibility:hidden;transition:0.4s;}
#header .gnb_wrap.on {opacity:1;visibility:visible;}

#header .gnb_wrap .gnb_bg {width:25%;background:url(../img/allMenuBg.jpg) no-repeat center center/cover;}
#header .gnb_wrap nav {position:relative;width:75%;display:flex;justify-content:center;align-items:center;}

/* depth01 */
#header .gnb_wrap nav .depth01 {display:flex;flex-wrap:wrap;}
#header .gnb_wrap nav .depth01>li {width:calc(100% / 3);padding:80px 0;}
#header .gnb_wrap nav .depth01>li>a {display:block;margin-bottom:30px;}
#header .gnb_wrap nav .depth01>li>a>em {position:relative;font-size:35px;font-weight:500;transition:0.4s;}
#header .gnb_wrap nav .depth01>li>a>em:after {content:"";position:absolute;top:0;left:100%;transform:scale(0);display:block;width:10px;height:10px;background:var(--mc);border-radius:50%;transition:0.4s;}

#header .gnb_wrap nav .depth01>li:hover>a>em {color:var(--mc);}
#header .gnb_wrap nav .depth01>li:hover>a>em:after {transform:scale(1);}

/* depth02 */
#header .gnb_wrap nav .depth02>li>a {display:block;padding:8px 0;font-weight:300;}




#main_visual {position:relative;height:100vh;background:#FCF7EF;}
#main_visual::before {content:"";position:absolute;bottom:30%;display:block;width:100%;height:1px;background:#dcd3c9;pointer-events:none;z-index:9;}
#main_visual::after {content:"";position:absolute;top:50%;right:50%;transform:translateY(-50%);display:block;width:80vh;height:80vh;border-radius:50%;border:1px solid #dcd3c9;pointer-events:none;}

#main_visual .main_slider {width:60vh;height:100vh;margin:0 auto;}

#main_visual .main_slider figure {height:100vh;}
#main_visual .main_slider .visual01 {background:url(../img/mv1.png) no-repeat center center/contain;}
#main_visual .main_slider .visual02 {background:url(../img/mv2.png) no-repeat center center/contain;}
#main_visual .main_slider .visual03 {background:url(../img/mv3.png) no-repeat center center/contain;}
#main_visual .main_slider .visual04 {background:url(../img/mv4.png) no-repeat center center/contain;}

#main_visual .slogan {position:absolute;top:45%;left:50%;transform:translate(-50%, -50%);width:100%;text-align:center;pointer-events:none;}
#main_visual .slogan h2 {position:relative;font-size:200px;}
#main_visual .slogan h2>span {margin:0 150px;}
#main_visual .slogan h2::before {content:"";position:absolute;top:0;right:310px;display:block;width:43px;height:43px;background:url(../img/mv_emblem.png) no-repeat center center/cover;animation:spin 7s infinite linear;}

@keyframes spin {
    100% {transform:rotate(360deg);}
}

#main_visual .slogan2 {position:absolute;bottom:20%;left:65%;font-size:20px;font-weight:700;line-height:1.4;}
#main_visual .slogan2 small {font-size:20px;font-weight:300;}


#main_visual .slider_dots {position:absolute;bottom:30%;left:230px;z-index:10;}
#main_visual .slider_dots ul {display:flex;}
#main_visual .slider_dots ul li {position:relative;width:100px;padding-bottom:20px;font-size:14px;transition:0.3s;}
#main_visual .slider_dots ul li.on {font-weight:700;width:150px;color:var(--mc);}

#main_visual .slider_dots ul li::after {content:"";position:absolute;bottom:0;display:block;width:0;height:1px;background:var(--mc);}
#main_visual .slider_dots ul li.on::after {width:100%;transition:2.9s linear;}

#main_visual .scroll {position:absolute;bottom:20%;left:230px;}
#main_visual .scroll span {display:inline-block;transform:translateX(-40%) rotate(-90deg);font-size:14px;font-weight:500;}
#main_visual .scroll:before {content:"";position:absolute;top:80px;left:0;display:block;width:18px;height:24px;background:url(../img/icon_scroll.png);animation:scrollAni 1s infinite linear;}

@keyframes scrollAni {
    0%, 100% {transform:translateY(0);}
    50% {transform:translateY(10px);}
}



#section01 {padding:80px 0 200px 0;background:linear-gradient(to bottom, #FCF7EF, transparent);}
#section01 h2 {position:relative;font-size:45px;font-weight:700;text-align:center;}
#section01 h2:before {content:"";position:absolute;top:-70px;left:50%;transform:translateX(-50%);display:block;width:98px;height:23px;background:url(../img/main_tit_illust.png);}
#section01 h2:after {content:"";display:block;width:50px;height:3px;margin:50px auto 100px auto;background:var(--fc);}

#section01 .container {display:flex;gap:60px;width:1400px;margin:0 auto;}
#section01 .container .s_itm {flex:1;}

#section01 .s_itm figure {position:relative;}
#section01 .s_itm figure:before {content:"";position:absolute;bottom:0;left:50%;transform:translate(-50%, 50%);display:block;width:100px;height:100px;background-repeat:no-repeat;background-position:center;border-radius:58% 42% 57% 43% / 40% 50% 50% 60%;}
#section01 .s_itm01 figure:before {background-image:url(../img/icon_ms1-1.png), linear-gradient(to bottom, var(--lc) 50%, transparent 50%);}
#section01 .s_itm02 figure:before {background-image:url(../img/icon_ms1-2.png), linear-gradient(to bottom, var(--lc) 50%, transparent 50%);}
#section01 .s_itm03 figure:before {background-image:url(../img/icon_ms1-3.png), linear-gradient(to bottom, var(--lc) 50%, transparent 50%);}

#section01 .s_itm figure img {width:100%;}

#section01 .s_itm .txt_box {padding-top:70px;text-align:center;}
#section01 .s_itm .txt_box h3 {font-size:20px;font-weight:700;margin-bottom:20px;}
#section01 .s_itm .txt_box p {font-size:16px;font-weight:300;line-height:1.4;margin-bottom:40px;color:#726b6b;}
#section01 .s_itm .txt_box .button {border:1px solid var(--fc);margin:0 auto;}
#section01 .s_itm .txt_box .button:hover {background:#eee;}


#section02 {display:flex;height:100vh;color:var(--lc);}
#section02>div {flex:1;}
#section02 .left, #section02 .top, #section02 .bottom {position:relative;}
#section02 .button {border:1px solid var(--lc);font-weight:300;text-align:center;}
#section02 .button:hover {background:rgba(255,255,255,0.2);}

#section02 .left {background:url(../img/img_ms2-1.jpg) no-repeat center center/cover;}
#section02 .left .txt_box {position:absolute;bottom:100px;left:50%;transform:translateX(-50%);text-align:center;}
#section02 .left .txt_box h3 {font-size:35px;font-weight:700;margin-bottom:40px;}
#section02 .left .txt_box .button {margin:0 auto;}

#section02 .right .top {height:70%;background:var(--mc);}
#section02 .right .top strong {position:relative;display:inline-block;font-size:35px;font-weight:700;margin-bottom:15px;padding-right:70px;}
#section02 .right .top strong:after {content:"";position:absolute;bottom:0;right:0;display:block;width:56px;height:68px;background:url(../img/icon_ms2_foot.png) no-repeat center center/cover;}

#section02 .right .top p {font-size:17px;font-weight:300;margin-bottom:60px;}
#section02 .right .top .link {position:relative;display:inline-block;font-size:20px;font-weight:500;margin-bottom:60px;padding-right:100px;}
#section02 .right .top .link:after {content:"";position:absolute;bottom:0;right:0;display:block;width:54px;height:20px;background:url(../img/icon_ms2_arr.png) no-repeat center center/contain;}

#section02 .right .bottom {height:30%;background:url(../img/img_ms2-2.png) no-repeat center center/cover;}
#section02 .right .bottom .link {display:block;width:100%;height:100%;}

#section02 .right .txt_box {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:50%;}

#section02 .right .txt_box h3 {position:relative;display:inline-block;font-size:35px;font-weight:300;margin-bottom:30px;}
#section02 .right .txt_box h3 strong {font-weight:700;}

#section02 .right .txt_box h3:before, #section02 .right .txt_box h3:after {content:"";position:absolute;display:block;}
#section02 .right .txt_box h3:before {top:-30px;left:-70px;width:49px;height:44px;background:url(../img/icon_ms2_heart1.png) no-repeat center center/cover;}
#section02 .right .txt_box h3:after {top:25px;right:-60px;width:33px;height:34px;background:url(../img/icon_ms2_heart2.png) no-repeat center center/cover;}



#section03 {display:flex;justify-content:center;align-items:center;text-align:center;height:100vh;background:url(../img/img_ms3.jpg) no-repeat center center/cover;}

#section03 .txt_box {color:var(--lc);}
#section03 .txt_box h2 {font-size:28px;font-weight:700;}
#section03 .txt_box h2:after {content:"";display:block;width:50px;height:3px;margin:25px auto;background:rgba(255,255,255,0.5);}
#section03 .txt_box p {font-weight:300;}

#section03 .txt_box figure {margin-bottom:30px;}

#section03 .txt_box .button {border:1px solid var(--lc);margin:0 auto;}
#section03 .txt_box .button:hover {background:rgba(255,255,255,0.2);}



#section04 {display:flex;flex-wrap:wrap;border-bottom:1px solid #ddd;}
#section04>* {width:50%;}

#section04 .des {display:flex;justify-content:center;align-items:center;}
#section04 .des .txt_box {width:70%;}

#section04 .des .txt_box h3 {font-size:35px;font-weight:700;margin-bottom:20px;}
#section04 .des .txt_box h3:before {content:"";display:block;width:65px;height:3px;margin-bottom:40px;background:var(--fc);}
#section04 .des .txt_box p {font-weight:300;letter-spacing:-0.05em;margin-bottom:60px;}

#section04 .des .txt_box .button {border:1px solid var(--fc);text-align:center;}
#section04 .des .txt_box .button:hover {background:#eee;}

#section04 figure img {width:100%;}



#section05 {padding:150px 0;}
#section05 .container {width:1300px;margin:0 auto;}

#section05 ul {display:flex;}
#section05 ul li {position:relative;flex:1;text-align:center;}
#section05 ul li~li:before {content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);display:block;width:2px;height:80%;background:url(../img/bd_ms5.png) no-repeat center center}

#section05 ul li figure {width:200px;line-height:200px;background:#f8f8f8;border-radius:50%;margin:0 auto;margin-bottom:20px;}
#section05 ul li h3 {font-size:18px;font-weight:400;margin-bottom:40px;}
#section05 ul li .button {border:1px solid var(--fc);margin:0 auto;}
#section05 ul li .button:hover {background:#eee;}



#section06 {padding:72px 0;}
#section06 .container {display:flex;justify-content:space-between;width:1300px;margin:0 auto;}
#section06 dl>dt>a {display:block;font-size:19px;font-weight:500;margin-bottom:16px;}
#section06 dl>dd>a {display:block;font-size:15px;font-weight:300;line-height:1.6;}




#footer {background:#6D6461;padding:61px 0;color:rgba(255,255,255,0.6);}
#footer .container {width:1500px;margin:0 auto;}

#footer .top {display:flex;justify-content:space-between;align-items:center;margin-bottom:70px;}
#footer .top .footer_logo {height:50px;}
#footer .top .footer_logo img {height:100%;}

#footer .top .footer_link {display:flex;}
#footer .top .footer_link>li~li {margin-left:30px;}
#footer .top .footer_link>li>a {font-size:14px;font-weight:300;background:url(../img/icon_footer_arr.png) no-repeat right center;padding-right:20px;color:#fff;}

#footer .bottom ul {width:60%;font-size:0;margin-left:-20px;margin-bottom:70px;}
#footer .bottom ul>li {display:inline-block;font-size:15px;font-weight:100;margin-left:20px;line-height:2;}
#footer .bottom ul>li>span {position:relative;padding-right:10px;margin-right:10px;}
#footer .bottom ul>li>span:before {content:"";position:absolute;top:55%;right:0;transform:translate(50%, -50%);display:block;width:2px;height:1em;background:rgba(255,255,255,0.4);}

#footer .bottom .copyright {font-size:14px;font-weight:400;}



























